[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
langchain = "*"
langchain-openai = "*"
langchain-community = "*"
langsmith = "*"
python-dotenv = "*"
google-search-results = "*"

[dev-packages]

[requires]
python_version = "3.10"
